<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>footer</title>
</head>
<body>
<div th:fragment="footer" th:remove="tag">
    <footer class="footer mt-auto py-3 bg-light">
        <div class="container">
            <ul>
                <li>
                    <a th:href="@{/}">Home</a>
                </li>
                <li>
                    <a th:href="@{/about}">About</a>
                </li>
            </ul>
            <span class="text-muted">
                このサイトは
                <a href="https://www.hottydb.com/" target="_blank">HottyDB</a>
                という検索エンジンとレコメンドエンジンを搭載したデータベースを利用しています。
            </span>
        </div>
    </footer>

</div>
</body>
</html>